.navbar {
  box-shadow: 0 0 5px 0 black !important;
  margin: 32px !important;
  padding: 15px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 10px !important;
  position: sticky !important;
  background: inherit !important;
  backdrop-filter: blur(10px) !important;
}
.navbar > h1 {
  color: white;
}
.links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

.link:hover {
  color: aqua;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.signin {
  padding: 10px;
  margin-left: 15px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid rgb(123, 123, 123);
  color: white;
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.signin:hover {
  cursor: pointer;
  border: 1px solid black;
}
