@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* body{
    background-image: url("../public/assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

video{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}